@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Mulish", sans-serif;
	background-color: #BCCEEA;
	line-height: 1.6;
	color: #2C3E50;
}

ul {
	list-style: none;
}

a {
	color: #2C3E50;
	text-decoration: none;
}

.container {
	max-width: 1000px;
	margin: 75px auto;
	padding: 8rem 2rem ;
}

.shadow {
	filter: drop-shadow(0 10px 4px rgba(149, 179, 232, 0.2))
}